{% extends "base.html" %}
{% block content %}
    <div class="container pt-2 pb-2 flexall">
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for tuple in data %}
                    <tr>
                        <td>{{ tuple.id }}</td>
                        <td>{{ tuple.username }}</td>
                        <td>{{ tuple.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}